/* body of page */
body {
  /* Margins are used to create space around elements   */
  margin: 0;
  /* Use to give the styling to fonts  */
  font: 400 15px/1.8 "Lato", sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.bgimg{
  background-image: url(./img/img_parallax.jpg);
  height: 100%;
}

/* Top nav is used to give  the navbar eg:menu */
.topnav {
  /* overflow is used for scrolling */
  overflow: hidden;
  /* used to give bg color */
  background-color: #333;
}
.center {
  text-align: center;
}

.topnav a {
  /* float is used to shift the images eg:Left,Right */
  float: left;
  /* type of rendering box */
  display: block;
  /* used to give a color */
  color: #f2f2f2;
  /* used to align the text eg:left,right,top,bottom,center */
  text-align: center;
  /* it is used for space */
  padding: 14px 16px;
  /*  */
  text-decoration: none;
  /* used to arrange the size of fonts */
  font-size: 17px;
}

.topnav a:hover {
  /* Used to give BG color */
  background-color: #ddd;
  /* used to give color */
  color: black;
}

.topnav a.active {
  background-color: #7DCE13;
  color: white;
}

.topnav .icon {
  /* type of rendering box */
  display: none;
}
.bordershadow{
  width: 100%;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-color: #F0EBE3;
}
.bordercool{
  background-color: #111;
    color: #fff;
    padding: 10px;
    font-size: px;
    letter-spacing: 5px;
}
/* media is used for the reponsive of the website eg:Andriod & IOS */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
/* Responsive in css means to make a website working on both Web as well as on Andriod & Ios */
@media screen and (max-width: 600px) {
  /* Create a Responsive Top Navigation Menu */
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

body {
  font-family: "Lato", sans-serif;
}
/* It show the sidenav For eg: when you click on the home than you will se side menu */
.sidenav {
  /* used to give height */
  height: 100%;
  /* used to give the width */
  width: 0;
  /* used for the type of positioning method used for an element */
  position: fixed;
  /*  */
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  /*A mouse cursor, also known as a mouse arrow, or mouse pointer */
  cursor: pointer;
  /* element will be positioned relative to the closest positioned */
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  /* used  to give a margin at the top */
  margin-top: -22px;
  color: white;
  /* sets how thick or thin characters */
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* Parallax CSS */
body, html {
  height: 100%;
}

.parallax1, .parallax2,.parallax3{
  /* The image used */
 

  /* Full height */
  height: 100%; 
  position: relative;
  opacity: 0.65;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax1{
  background-image: url('./img/img_parallax.jpg');
}
.parallax2{
  background-image: url(./img/img_parallax3.jpg);
}
.parallax3{
  background-image: url('./img/img_parallax.jpg');
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border{
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* OurTeam Section */

.title{
  text-align: center;
  text-transform: capitalize;
  color: #726a95;
  margin: 10px 0;
  position: relative;
}

.title::after{
  content: "";
  position: absolute;
  width: 20%; height: 2px;
  background-image: linear-gradient(to left, transparent 5%, #726a95);
  bottom: -10px; left: 50%;
  transform: translate(-50%);
}

.team-row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.member{
  flex: 1 1 250px;
  margin: 20px;
  text-align: center;
  padding: 20px 10px;
  cursor: pointer;
  max-width: 300px;
  transition: all 0.3s;
}

.member:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transform: translateY(-20px);
}

.member img{
  display: block;
  width: 150px; height: 150px;
  object-fit: cover;
  border:4px solid #726a95;
  border-radius: 50%;
  margin: 0 auto;
}

.member h2{
  text-transform: uppercase;
  font-size: 24px;
  color: #726a95;
  margin: 15px 0;
}

.member p{
  font-size: 15px;
  color: #838383;
  line-height: 1.6;
}

/* Contact Us  */
.container {
  background: #F8F8F8;
  width: 900px;
  height: 650px;
  margin: 5% auto;
  box-shadow: 0px 0px 10px #C8C7D9;
  position: relative;
}
.container .map {
  width: 45%;
  float: left;
}
.container .contact-form {
  width: 53%;
  margin-left: 2%;
  float: left;
}
.container .contact-form .title {
  font-size: 2.5em;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  color: #242424;
  margin: 5% 8%;
}
.container .contact-form .subtitle {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 4% 5% 8%;
}
.container .contact-form input,
.container .contact-form textarea {
  width: 330px;
  padding: 3%;
  margin: 2% 8%;
  color: #242424;
  border: 1px solid #B7B7B7;
}
.container .contact-form input::placeholder,
.container .contact-form textarea::placeholder {
  color: #242424;
}
.container .contact-form .btn-send {
  background: #A383C9;
  width: 180px;
  height: 60px;
  color: #F8F8F8;
  font-weight: 700;
  margin: 2% 8%;
  border: none;
}